/* sitemap 
/************************************************************************/
.sitemap ul {
  padding: 0px 0 5px 40px;
}
.sitemap ul li {
  background: none;
  list-style: none;
  padding: 0 0 0 0;
  margin: 5px 0px;
}
.sitemap ul ul {
  padding: 5px 0 5px 40px;
}
.sitemap ul ul li {
  background: none;
  list-style: none;
}
.sitemap li {
  list-style: none;
  background: url(../image/arr01.gif) no-repeat 0 10px;
  padding: 0 0 0 12px;
  margin: 20px 0px;
}
.sitemap li a {
  color: #333;
}

/* button 
/************************************************************************/
.icon_btn.icon_right{float: right;}
.icon_btn.icon_left{float: left;}


.icon_btn a{
	display: block;
	text-align: center;
	color: #fff;
	font-size: 90%;
	padding: 26px 0;
}
.icon_btn_s a{
	display: inline-block;
	text-align: center;
	color: #fff;
	font-size: 90%;
	padding: 3px 5%;
}
.icon_btn a .material-icons,
.icon_btn_s a .material-icons{
	font-size: 20px;
	padding-right: 8px;
	vertical-align: middle;
}

.icon_btn_txt a .material-icons{
	font-size: 16px;
	padding-right: 8px;
	vertical-align: middle;
}

.icon_btn_wfull a{
	display: block;
	color: #fff;
	line-height: 1;
	font-size: 140%;
	text-align: center;
	padding: 20px 0;
}
.icon_btn_wfull a .material-icons{
	font-size: 24px;
	padding-left: 16px;
	vertical-align: middle;
}

@media only screen and (max-width: 979px) {
	.icon_btn a{
		padding: 10px 0;
	}
} /*------------------------------------------*/
@media only screen and (max-width: 690px) {
	.icon_btn_wfull a{
		padding: 20px 0;
		font-size: 130%;
	}
	.icon_btn_wfull a .material-icons{
		padding-left: 8px;
	}
} /*------------------------------------------*/




/* global navigation */
/************************************************************************/
#gnav_btn{display:none;}
#globalnav{
	margin-top: 25px;
	margin-bottom: 25px;
}
#globalnav_in ul{text-align: center;}
#globalnav_in li{
	display: inline-block;
	text-align: center;
	padding: 0 4%;
	border-right: 1px solid #ddd; 
}
#globalnav_in li:first-child{border-left: 1px solid #ddd;}
#globalnav_in li a{
	font-size: 16px;
	line-height: 24px;
}
#side_gnavi{padding: 20% 10% 10%;}
#side_gnavi #globalnav{
	margin-top: 0;
	margin-bottom: 0;
}
#side_gnavi  #globalnav_in ul{width: 100%;}
#side_gnavi #globalnav_in:after {
	content:"";
	display:table;
	clear:both;
}
#side_gnavi #globalnav_in li,
#side_gnavi #globalnav_in li:first-child{
	display: block;
	float: left;
	width: 33.33333333%;
	padding: 0;
	margin: 3px 0;
}
#side_gnavi #globalnav_in li a{
	color: #fff;
	display: block;
	padding: 8px 5px;
}
#side_gnavi #globalnav_in li a:hover{
	background-color: #fff;
	color: #333;
}
#side_gnavi #globalnav_in li:nth-child(4),
#side_gnavi #globalnav_in li:nth-child(7){border-left: 1px solid #ddd;}
@media only screen and (max-width: 979px) {
#side_gnavi{padding: 25% 5% 10%;}
#globalnav{
	margin-top: 10px;
	margin-bottom: 10px;
}
#globalnav_in li{
	padding: 0;
	margin: 10px 0;
	width: 32.75%;
}
#globalnav_in li:nth-child(4){border-left: 1px solid #ddd;}
} /*------------------------------------------*/
@media only screen and (max-width: 690px) {
#globalnav{
	margin:0;
	display:block;
	position: relative;
	top: -125px;
}
#gnav_btn{display:block;}
#gnav_btn a {
	width: 35px;
	height: 35px;
	background:url(../image/common/gnav_btn.png) no-repeat 0 0;
	background-size: 35px 35px;
	display: block;
	text-indent:-9999px;
	position:absolute;
	top: 20px;
	right: 3%;
}
#globalnav_in{
	width: 100%;
	height:auto;
	overflow: hidden;
	background-color: #fff;
	position: absolute;
	left: 0;
	z-index: 100;
	margin-top: 125px;
}
#globalnav_in ul{ display: none;}
#globalnav_in li{
	display:block;
	text-align:left;
	margin:0;
	border-bottom: 1px solid #ddd;
	width: 100%;
}
#globalnav_in li:first-child{border-top: 1px solid #ddd;}
#globalnav_in li a{
	display:block;
	padding: 20px 10px;
	border-bottom: none;
	text-decoration: none;
	webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	position: relative;
	display: block;
}
#globalnav_in li a:after{
	position: absolute;
	top: 50%;
	right: 5%;
	display: block;
	content: '';
	width: 8px;
	height: 8px;
	margin-top: -4px;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}
#globalnav_in li a:hover,#globalnav_in li.main_current a{
	border-bottom: none;
	background-color: #f9f9f9;
}
.onecol #gnav_btn,
.onecol #globalnav{display:none;}
.onecol #globalnav_in ul{ display: block;}
.onecol #globalnav_in {
	margin-top: 0;
	position: static;
	background-color: rgba(255,255,255,0);
}
#side_gnavi{padding: 30% 3% 10%;}
#side_gnavi #globalnav_in li:nth-child(4),
#side_gnavi #globalnav_in li:nth-child(7){border-left: none;}
#side_gnavi #globalnav_in li,
#side_gnavi #globalnav_in li:first-child{
	float: none;
	width: 100%;
	margin: 0;
	border: none;
}
#side_gnavi #globalnav_in li a{
	border-top: 1px solid rgba(0,0,0,0.1);
	padding: 5% 8px;
}
#side_gnavi #globalnav_in li:last-child a{border-bottom: 1px solid rgba(0,0,0,0.1);}
} /*------------------------------------------*/



/* header */
/************************************************************************/
header .header{
	padding: 0.7% 0 1%;
}
.header_left{
	float: left;
	width: 35%;
	text-align: left;
}
#logo{width:250px;}
#logo a{display: block;}
#logo img{
	width: 100%;
	height: auto;
}
.btn_contact:after {
	content:"";
	display:table;
	clear:both;
}
.btn_contact{
	float: right;
	width: 30%;
	margin-top: 20px;
}
.btn_contact li{
	float: right;
	width: 50%;
	border-right: 1px solid #fff;
}
.btn_contact a{
	display: block;
	text-align: center;
	color: #fff;
	font-size: 90%;
	line-height: 48px;
	padding: 0; 
}
.btn_contact a .material-icons{
	font-size: 16px;
	padding-right: 8px;
	vertical-align: middle;
}
.header_nav{
	float: right;
	margin-right: 3%;
	margin-top: 25px;
	width: 30%;
}
.header_nav .txtlink_list{
	text-align: right;
	margin: 15px 0;
}
/*#searchArea{
	float: right;
	width: 100%;
}
input.search_textbox {
    border: 1px solid #ddd;
    color: #999;
    float: right;
    height: 30px;
    line-height: 30px;
    padding-left: 0.5em;
    width: 70%;
}
input.search_subit {
    background: url(../image/common/search.png) no-repeat center center;
    background-size: 23px 23px;
    border: medium none;
    cursor: pointer;
    float: right;
    height: 30px;
    text-indent: -9999px;
    width: 20%;
}*/


@media only screen and (max-width: 979px) {
header .header{
	padding: 1% 2.5%;
}
header .column1024{padding: 0;}
.header_left{
	width: 35%;
}
#logo{width:100%;}
.btn_contact{
	margin-top: 0;
	width: 22%
}
.btn_contact li{
	float: none;
	width: 100%;
	border-bottom: 1px solid #fff;
	border-right: none; 
}
.btn_contact a{
	line-height: 40px;
}
.header_nav{
	margin-right: 2%;
	width: 35%;
}
} /*------------------------------------------*/



@media only screen and (max-width: 690px) {
header .header{padding: 5px 3% 10px;}
.header_left{
	width: 100%;
	float: none;
}
.header_left h1{
	padding-right: 50px;
	text-align: left;
}
#logo{width:60%;}

.btn_contact{
	float: none;
	width: 100%;
	margin-top: 15px;
}
.btn_contact li{
	float: right;
	width: 50%;
	border-right: 1px solid #fff;
}
.btn_contact a{
	display: block;
	text-align: center;
	color: #fff;
	font-size: 90%;
	line-height: 34px;
	padding: 0; 
}
.btn_contact a .material-icons{
	font-size: 16px;
	padding-right: 8px;
	vertical-align: middle;
}
.header_nav{
	float: none;
	width: 100%;
	display: none;
}
.header_nav .txtlink_list{
	display: none;
}
/*#searchArea{
	float: none;
	width: 100%;
	margin-top: 10px;
}
input.search_textbox {width: 80%;}*/
} /*------------------------------------------*/





/* top */
/************************************************************************/
.list0:after,.list1:after,.list2:after {
	content:"";
	display:table;
	clear:both;
}
.list0 li{
	float: left;
	width: 50%;
}
.list1 li{
	float: left;
	width: 49.5%;
	margin-right: 1%;
}
.list2 li{
	float: left;
	width: 49%;
	margin-right: 2%;
	margin-bottom: 10px;
}
.list2 li:nth-child(even){margin-right: 0;}

.list1 li:last-child,
.list2 li:last-child,
.list2 li:last-child { margin-right: 0;}


.txtlink_list { font-size: 0;}
.txtlink_list li{
	display: inline-block;
	line-height: 1;
	padding-right: 4%;
}
.txtlink_list li:last-child{padding-right: 0;}
.txtlink_list li a{
	font-size: 13px;
	line-height: 1;
}
.txtlink_list li a .material-icons{
	font-size: 13px;
	padding-right: 2px;
	vertical-align: middle;
}


/*mainimage*/
/*------------------------------------------------------------------------------*/
#mainimage{
	margin-bottom: 50px;
	position: relative;
}
.flexslider .slides > li{
    width: 100%;
    height: 500px;
    overflow: hidden;
	background-repeat:no-repeat;
	background-position: center top;
}
.mainimage01{background-image:url(../image/mainimage01_bg.jpg);}
.mainimage02{background-image:url(../image/mainimage02_bg.jpg);}
.mainimage03{background-image:url(../image/mainimage03_bg.jpg);}

#lp_btn{
	position: absolute;
	top: 380px;
	left: 50%;
	margin-left: -170px;
	width: 340px;
	z-index: 10000;
}
.dcms_editor #lp_btn{
	position: static;
	margin: 0 auto; 
}
#lp_btn a{
	display: block;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 130%;
	line-height: 1.5;
	padding: 20px 0;
	border-radius: 5px;
}
#lp_btn a .material-icons {
    padding-right: 8px;
    vertical-align: middle;
}

@media only screen and (max-width: 979px) {
.flexslider .slides > li{
    height: auto;
}
.mainimage01,.mainimage02,.mainimage03{background-image: none;}
.flexslider .slides > li img{
	width: 100%;
	height: auto;
}
#lp_btn{top: 72%;}
#lp_btn a{
	font-size: 120%;
	padding: 15px 0;
}
} /*------------------------------------------*/
@media only screen and (max-width: 690px) {
#lp_btn{
	top: 85%;
	width: 70%;
	left: 15%;
	margin-left: 0;
}
#lp_btn a{
	font-size: 110%;
	padding: 12px 0;
}
#lp_btn a .material-icons {font-size: 16px;}
} /*------------------------------------------*/


/* blog */
/*------------------------------------------------------------------------------*/
#blog:after,.article:after {
	content:"";
	display:table;
	clear:both;
}
.article {
	display: block;
	float: left;
	width: 22.75%;
	margin-right: 3%;
}
.article:last-child{margin-right: 0;}
.article .img{
	max-height: 150px;
	overflow: hidden;
}
.article .img img{
	width: 100%;
	height: auto;
}
.article .txt{margin-top: 15px;}
.category_name {display: inline-block;}
.category_name a {
	display: block;
	padding: 5px 12px;
	font-size: 80%;
	line-height: 1;
	color: #fff; 
	background-color: 
}
.article time{
	font-size: 90%;
	line-height: 1;
	display: block;
	margin: 12px 0; 
}

@media only screen and (max-width: 979px) {
	.article {
		width: 48%;
		margin-right: 4%;
		margin-bottom: 25px;
	}
	.article:nth-child(even){margin-right: 0;}
} /*------------------------------------------*/
@media only screen and (max-width: 690px) {
	.article {
		float: none;
		width: 100%;
		margin-right: 0;
		margin-bottom: 16px;
	}
	.article:last-child{margin-bottom: 0;}
	.article .txt{
		margin-top: 0;
		float: right;
		width: 61%;
	}
	.article .img{
		float: left;
		width: 35%;
	}
	.article time{margin: 8px 0;}
} /*------------------------------------------*/





/* news */
/************************************************************************/
#news{
	width: 70%;
	float: left;
}
#news dl:after {
	content:"";
	display:table;
	clear:both;
}
#news dl {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
#news dl:last-child{
	margin-bottom:0;
}
.rss_date{
	float: left;
	width: 21%;
	font-weight: bold;
}
.rss_date .material-icons{
	font-size: 18px;
	vertical-align: middle;
	padding-right: 4%;
}
.rss_title{
	float: left;
	width: 79%;
}
.rss_contents{display: none;}
#news.sub{width: 100%;}
#news.sub .rss_contents{
	display: block;
	margin-left: 21%;
}
@media only screen and (max-width: 979px) {
	#news{
		width: 100%;
		float: none;
		margin-bottom: 40px;
	}
} /*------------------------------------------*/
@media only screen and (max-width: 690px) {
	#news dl {
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
	.rss_date{
		float: none;
		width: 100%;
	}
	.rss_date .material-icons{
		font-size: 18px;
		vertical-align: middle;
		padding-right: 3%;
	}
	.rss_title{
		float: none;
		width: 100%;
		line-height: 1.6;
		margin-top: 6px;
	}
	#news.sub .rss_contents{
		margin-left: 0;
	}
} /*------------------------------------------*/



/* pagelink */
/************************************************************************/
.pagelink{
	float: right;
	width: 25%;
}
.pagelink li a{
	display: block;
	margin-bottom: 20px;
	text-align: center;
	font-size: 130%;
	line-height: 1;
	padding: 30px 0;
	border: 3px double #fff !important;
	color: #fff;
}
.pagelink li:last-child a{margin-bottom: 0;}
.pagelink li .material-icons{
	display: block;
	margin: 0 auto 20px;
	border-radius: 50px;
	background-color: #fff;
	width: 50px;
	height: 50px; 
	font-size: 30px;
	line-height: 50px;
	padding: 0; 
}
@media only screen and (max-width: 979px) {
	.pagelink{
		float: none;
		width: 100%;
	}
	.pagelink li a{
		float: left;
		width: 48%;
		margin-right: 4%;
	}
	.pagelink li:last-child a{margin-right: 0;}
} /*------------------------------------------*/
@media only screen and (max-width: 979px) {
	.pagelink li a{
		margin-bottom: 20px;
		font-size: 110%;
		padding: 20px 0;
	}
	.pagelink li .material-icons{
		margin: 0 auto 15px;
		border-radius: 40px;
		width: 40px;
		height: 40px;
		font-size: 24px;
		line-height: 40px;
	}
} /*------------------------------------------*/







/* banner */
/************************************************************************/
.bannre_list2:after,
.bannre_list3:after,
.bannre_list4:after,
.bannre_list5:after {
	content:"";
	display:table;
	clear:both;
}
.bannre_list2 li,
.bannre_list3 li,
.bannre_list4 li,
.bannre_list5 li {float: left;}

.bannre_list3 li{
	width: 31%;
	margin-right: 3.5%; 
}
.bannre_list4 li{
	width: 23.5%;
	margin-right: 2%; 
}
.bannre_list5 li{
	width: 19.2%;
	margin-right: 1%; 
}

.bannre_list2 li:last-child,
.bannre_list3 li:last-child,
.bannre_list4 li:last-child,
.bannre_list5 li:last-child{
	margin-right: 0;
}
.bannre_list2 li img,
.bannre_list3 li img,
.bannre_list4 li img,
.bannre_list5 li img{
	width: 100%;
	height: auto;
}


@media only screen and (max-width: 979px) {
	.bannre_list3 li{
		width: 48%;
		margin-right: 4%;
		margin-bottom: 3.5%;
	}
	.bannre_list3 li:nth-child(2n){margin-right: 0;}
	.bannre_list4 li{
		width: 48%;
		margin-right: 4%;
		margin-bottom: 3.5%;
	}
	.bannre_list4 li:nth-child(2n){margin-right: 0;}
	.bannre_list5 li{
		width: 31%;
		margin-right: 3.5%; 
		margin-bottom: 3.5%;
	}
	.bannre_list5 li:nth-child(3n){margin-right: 0;}
} /*------------------------------------------*/
@media only screen and (max-width: 690px) {
	.bannre_list5 li{
		width: 48%;
		margin-right: 4%; 
		margin-bottom: 15px;
	}
	.bannre_list5 li:nth-child(3n){margin-right: 4%;}
	.bannre_list5 li:nth-child(even){margin-right: 0;}
	.bannre_list5 li:last-child{margin-bottom: 0;}
} /*------------------------------------------*/





/* footer */
/************************************************************************/

/* footer top
------------------------- */
.footnav{
	float: left;
	width: 25%;
}
.footnav li {
	margin-bottom: 10px;
	text-align: left;
}
.footnav li a{
	color: #fff;
	line-height: 1;
}
.footnav li li{
	margin-bottom: 0;
	margin-left: 10px;
}
.footnav li li a{
	font-size: 80%;
	background: url(../image/common/arr01.png) no-repeat 0 center;
	background-size: 10px 10px;
	padding-left: 15px;
}
/* footer bottom
------------------------- */
.footer_bottom{
	padding-top: 15px;
	padding-bottom: 15px;
}
.footnav_b{
	font-size: 0;
	float: left;
}
.footnav_b li{
	display: inline-block;
	margin-right: 20px;
	padding-right: 20px;
	border-right: 1px solid #999; 
	line-height: 1;
}
.footnav_b li:last-child{
	border-right: none;
	padding-right: 0;
	margin-right: 0;
}
.footnav_b li a{font-size: 13px;}
footer small{
	float: right;
	font-size: 13px;
	line-height: 1;
}
@media only screen and (max-width: 690px) {
	footer .bg_base,footer .footer_top {padding: 0;}
	.footnav{
		float: none;
		width: 100%;
	}
	.footnav li{margin-bottom: 0;}
	.footnav li li{display: none;}
	.footnav li a{
		display: block;
		background: url(../image/common/arr01.png) no-repeat 20px 16px;
		background-size: 10px 10px;
		padding: 12px 20px 12px 40px;
		border-bottom: 1px dotted #999;
	}
	.footnav:last-child li:last-child a{border-bottom: none;}
	.footnav_b{
		float: none;
		text-align: center;
	}
	.footnav_b li{
		padding-right: 20px;
		border-right: 1px solid #999;
		margin: 8px 20px 8px 0;
	}
	.footnav_b li:last-child{border-right: none;}
	.footnav_b li a{font-size: 13px;}
	footer small{
		display: block;
		float: none;
		text-align: center;
		font-size: 11px;
		margin-top: 16px;
		color: #999;
	}
} /*------------------------------------------*/




/* top search */
/************************************************************************/
.searchbox01-layout01 {
    float: left;
    width: 65%;
}
.searchbox01-layout02 {
    float: right;
    width: 30%;
}
.inline-list-item {
	display: inline-block;
	width: 49%;
	padding: 0px 20px 35px 0px;
}
.inline-list-item:nth-child(3),
.inline-list-item:nth-child(4){
	padding: 0px 20px 0 0px;
}
.search-title01 {
	margin-bottom: 5px;
    font-size: 110%;
}
.form-control {
    display: inline-block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 100%;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.input-select {width: 100%;}
.searchbox01-layout02 .submitter01 {margin-top: 70px;}
.searchbox01-layout02 .btn-submit{margin-bottom: 12px;}
.btn-submit {
    display: inline-block;
    padding: 16px 0;
    margin-bottom: 0;
    font-size: 120%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: none;
    border-radius: 0;
}
.btn-block {
    display: block;
    width: 100%;
}
@media only screen and (max-width: 979px) {
	.searchbox01-layout01 {
		float: none;
		width: 100%;
	}
	.searchbox01-layout02 {
		float: none;
		width: 80%;
		margin-right: auto;
		margin-left: auto;
	}
	.searchbox01-layout02 .submitter01 {margin-top: 15px;}
	.inline-list-item {padding: 0px 20px 25px 0px;}
} /*------------------------------------------*/
@media only screen and (max-width: 690px) {
	.searchbox01-layout01 {
		float: none;
		width: 100%;
	}
	.searchbox01-layout02 {
		float: none;
		width: 80%;
		margin-right: auto;
		margin-left: auto;
	}
	.inline-list-item {
		display: inline-block;
		width: 100%;
	}
	.searchbox01-layout02 .submitter01 {margin-top: 15px;}
	.inline-list-item{padding: 0px 0 10px 0px;}
} /*------------------------------------------*/


/* sub H2 common */
/************************************************************************/
#subtitle02{
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
}
#subtitle02 h2{
	text-align: left;
	font-size: 240%;
	line-height: 1.7;
	position: relative;
	max-width: 1044px;
	width: 100%;
	padding: 40px 10px 45px;
	margin: 0 auto;
}
#subtitle02 h2:after{
	content: "";
	width: 130px;
	height: 3px;
	position: absolute;
	bottom: -1px;
	left: 10px; 
}
@media only screen and (max-width: 979px) {
	#subtitle02 h2{
		text-align: center;
		font-size: 220%;
		padding: 30px 2.5% 35px;
	}
	#subtitle02 h2:after{
		width: 100px;
		left: 50%;
		margin-left: -50px; 
	}
} /*------------------------------------------*/
@media only screen and (max-width: 690px) {
	#subtitle02 h2{
		font-size: 180%;
		padding: 20px 3% 25px;
	}
	#subtitle02 h2:after{
		width: 80px;
		margin-left: -40px; 
	}
} /*------------------------------------------*/

/* sub H3 common */
/************************************************************************/
.subtitle03{
	font-size: 200%;
	margin-bottom: 35px;
	border-bottom: 1px solid #eee;
	padding-bottom: 8px;
	position: relative;
}
.subtitle03:before{
	content: "";
	width: 40px;
	height: 3px;
	position: absolute;
	bottom: -1px;
}
.subtitle03_2{
	font-size: 200%;
	line-height: 1.6;
	margin-bottom: 35px;
	padding: 8px 16px;
	color: #fff;
}
.subtitle03_3{
	font-size: 200%;
	line-height: 1.6;
	margin-bottom: 35px;
	background-color: #f5f5f5;
	padding: 8px 16px;
}
.subtitle03_4{
	font-size: 200%;
	line-height: 1.6;
	margin-bottom: 35px;
	padding: 3px 0 3px 16px;
}
.subtitle03_5{
	font-size: 200%;
	line-height: 1.6;
	margin-bottom: 35px;
	background-color: #f5f5f5;
	padding: 8px 16px;
}
@media only screen and (max-width: 690px) {
	.subtitle03,.subtitle03_2,.subtitle03_3,.subtitle03_4,.subtitle03_5{
		font-size: 180%;
		margin-bottom: 25px;
	}
} /*------------------------------------------*/

/* sub H4 common */
/************************************************************************/
.subtitle04{
	font-size: 180%;
	margin-bottom: 20px;
	position: relative;
	padding-left: 20px;
	line-height: 27px;
}
.subtitle04:before{
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -4px;
}
.subtitle04_2{
	font-size: 180%;
	margin-bottom: 20px;
	padding-bottom: 3px;
}
.subtitle04_3{
	font-size: 180%;
	margin-bottom: 20px;
	padding-bottom: 3px;
	border-bottom: 1px solid #eee;
}
.subtitle04_4{
	font-size: 180%;
	line-height: 1.6;
	margin-bottom: 20px;
	padding: 3px 0 3px 12px;
}
.subtitle04_5{
	font-size: 180%;
	line-height: 1.6;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	padding: 8px 16px;
}
@media only screen and (max-width: 690px) {
	.subtitle04,.subtitle04_2,.subtitle04_3,.subtitle04_4,.subtitle04_5{
		font-size: 160%;
	}
} /*------------------------------------------*/

/* sub H5 common */
/************************************************************************/
.subtitle05{
	font-size: 160%;
	margin-bottom: 20px;
}
.subtitle05_2{
	font-size: 160%;
	padding-bottom: 4px;
	padding-left: 10px;
	border-bottom: 1px dotted #ddd; 
	margin-bottom: 20px;
}
.subtitle05_3{
	font-size: 160%;
	line-height: 1.6;
	padding-left: 10px;
	margin-bottom: 20px;
}
.subtitle05_4{
	font-size: 160%;
	padding-bottom: 4px;
	border-bottom: 1px dotted #ddd; 
	margin-bottom: 20px;
}
.subtitle05_5{
	font-size: 160%;
	margin-bottom: 20px;
	padding-bottom: 4px;
	position: relative;
}
.subtitle05_5:before{
	content: "";
	width: 15px;
	height: 2px;
	position: absolute;
	bottom: -1px;
}
@media only screen and (max-width: 690px) {
	.subtitle05,.subtitle05_2,.subtitle05_3,.subtitle05_4,.subtitle05_5{
		font-size: 110%;
	}
} /*------------------------------------------*/


/* sub H link common */
/************************************************************************/
.title_link{
	margin-top: 15px;
	margin-bottom: 10px;
	line-height: 1.5;
}
.title_link a{
	font-size: 24px;
	color: #000;
}
@media only screen and (max-width: 690px) {
	.title_link a{
		font-size: 20px;
	}
}


/* sub locator common */
/************************************************************************/
#locator{
	background-color: #f6f6f6;
	padding: 12px 0;
	margin-bottom: 45px;
}
#locator.sub_mainp{margin-bottom: 0;}
#locator_in{
	max-width: 1044px;
	padding: 0 10px;
	margin-right: auto;
	margin-left: auto;
	line-height: 1;
	font-size: 12px;
	text-align: right;
}
@media only screen and (max-width: 979px) {
	#locator{margin-bottom: 40px;}
	#locator_in{padding: 0 2.5%;}
	} /*------------------------------------------*/
@media only screen and (max-width: 979px) {
	#locator{margin-bottom: 30px;}
	#locator_in{padding: 0 3%;}
} /*------------------------------------------*/


/* subnavi */
/************************************************************************/
#subnav {
	width: 100%;
	padding: 0;
	margin-bottom: 30px;
}

#subnav_title a {
	width: 100%;
	padding: 10px 2.5%;
	text-align: center;
	font-size: 110%;
	display: block;
	overflow: hidden;
}
#subnav li a {
	width: 100%;
	border-bottom: 1px dotted #ccc;
	display: block;
	overflow: hidden;
	padding: 12px 5% 12px 28px;
	position: relative;
	font-size: 100%;
	line-height: 1.6;
}
#subnav li a:before{
	content: "";
	position: absolute;
	top: 50%;
	left: 10px;
	display: block;
	width: 6px;
	height: 6px;
	margin-top: -3px;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}
#subnav li.current a{border-bottom: 1px dotted #e5e5e5;}
#subnav li a:hover, #subnav ul li.current a, #subnav ul li.current a:hover {
	/*background-color: #f3f3f3;*/
}
#subnav li.current ul li a {
	width: 100%;
	border-bottom: 1px dotted #ccc;
	display: block;
	overflow: hidden;
	padding: 8px 5% 8px 38px;
	position: relative;
	font-size: 80%;
	line-height: 1.6;
}
#subnav li.current ul li a:before{
	display: none;
}
#subnav li.current ul li a:hover, #subnav li.current ul li.current a {
	/*background-color: #f3f3f3;*/
}
#subnav li.current ul li.current ul li a {
	width: 100%;
	border-bottom: 1px dotted #ccc;
	display: block;
	overflow: hidden;
	padding: 8px 5% 8px 38px;
	position: relative;
	font-size: 80%;
	line-height: 1.6;
}
#subnav li.current ul li.current ul li a:hover {
	/*background-color: #f3f3f3;*/
}

/* one column
------------------------- */
#subnav.onecol{
	margin-bottom: 0;
	background-color: #eefdfd;
}
#subnav.onecol ul{
	max-width: 1044px;
	width: 100%;
	padding: 0 10px;
	margin-right: auto;
	margin-left: auto;
}
#subnav.onecol ul:after {
	content:"";
	display:table;
	clear:both;
}
#subnav.onecol li{
	float: left;
	width: 25%;
}
#subnav.onecol li a{
	border-bottom: none;
	padding: 16px 5% 16px 28px; 
}
#subnav.onecol li.current ul{display: none;}
body.onecol #subnav{padding: 0% 10% 10%;}
body.onecol #subnav li a {color: #fff;}
body.onecol #subnav li a:before {
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
}
@media only screen and (max-width: 979px) {
	#subnav.onecol ul{padding: 0;}
	#subnav.onecol li{width: 33.333333%;}
	body.onecol #subnav{padding: 0% 5% 5%;}
} /*------------------------------------------*/
@media only screen and (max-width: 690px) {
	#subnav.onecol ul{padding: 0;}
	#subnav.onecol li{
		width: 100%;
		float: none;
	}
	#subnav li a{font-size: 90%;}
	#subnav.onecol li a{padding: 12px 5% 12px 28px;}
	#subnav.onecol li.current ul{display: block;}
	body.onecol #subnav {padding: 0% 3% 5%;}
} /*------------------------------------------*/




/* pagetop */
/************************************************************************/
#topcontrol{
	z-index:150;
	margin-bottom: 0;
}
a.pagetop {
	width: 72px;
	height: 72px;
	background: url(../image/common/pagetop.gif) no-repeat 0 0;
	background-size: 72px 72px;
	display:block;
	z-index:50;
}
@media only screen and (max-width: 979px) {
	#topcontrol{margin-bottom: 220px;}
} /*------------------------------------------*/
@media only screen and (max-width: 979px) {
	#topcontrol{margin-bottom: 130px;}
	a.pagetop {
		width: 40px;
		height: 40px;
		background-size: 40px 40px;
	}
} /*------------------------------------------*/



/* sub contact */
/************************************************************************/
#sub_contact{
	margin-top: 120px;
	padding: 30px 5%;
	background: rgba(0,77,153,0.07); 
	text-align: center;
	line-height: 1;
}
#sub_contact:after {
	content:"";
	display:table;
	clear:both;
}
#sub_contact .txt{
	margin-bottom: 25px;
	font-size: 120%;
	text-align: center;
}
#sub_tel{
	float: left;
	width: 50%;
}
#sub_tel .num a{
	font-family: "Martel",serif;
	font-size: 370%;
}
#sub_tel .num a{cursor: default;}
#sub_tel .num a:hover{text-decoration: none;}
#sub_tel .material-icons{
	vertical-align: bottom;
	font-size: 30px;
	margin-bottom: 1%;
	display: inline-block;
	text-align: center;
	background-color: #fff;
	border-radius: 40px 40px;
	padding: 8px;
}
#sub_mail{
	float: right;
	width: 50%;
	padding: 0 3%;
}
#sub_mail .btn a{
	display: block;
	padding: 16px 0;
	font-size: 140%;
}
#sub_mail .btn a .material-icons{
	vertical-align: middle;
	font-size: 26px;
	padding-right: 3%;
}
/* one colmun -----------*/
#sub_doc_mail .txt{
	margin-bottom: 15px;
	font-size: 120%;
	text-align: center;
}
#sub_doc_mail .txt br{display: none;}
#sub_doc_mail .btn a{
	display: block;
	padding: 16px 0;
	font-size: 160%;
	text-align: center;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}
#sub_doc_mail .btn a .material-icons{
	vertical-align: middle;
	font-size: 32px;
	padding-right: 3%;
}
#sub_doc_tel{
	display: table;
	width: 75%;
	margin: 25px auto 0;
	padding: 25px 3%;
	background-color: #f1f1f1;
}
#sub_doc_tel p{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 40%;
}
#sub_doc_tel p.num{
	width: 60%;
	line-height: 1;
}
#sub_doc_tel p.num a{
	font-family: "Martel",serif;
	font-size: 370%;
}
#sub_doc_tel p.num a:hover{text-decoration: none;}
#sub_doc_tel p.num .material-icons{
	font-size: 35px;
	padding-right: 2%;
}
@media only screen and (max-width: 979px) {
	#sub_contact{margin-top: 40px;}
	#sub_tel{
		float: none;
		width: 100%;
	}
	#sub_mail{
		float: none;
		width: 100%;
		margin-top: 35px;
		padding: 0 10%;
	}
	/* one colmun -----------*/
	#sub_doc_mail .btn a,#sub_doc_tel{width: 100%;}
	#sub_doc_tel{padding: 5px 1%;}
}/*------------------------------------------*/
@media only screen and (max-width: 690px) {
	#sub_contact{
		margin-top: 50px;
		padding: 20px 3%;
	}
	#sub_contact .txt{margin-bottom: 15px; font-size: 100%;}
	#sub_mail{
		margin-top: 30px;
		padding: 0;
	}
	#sub_tel .num a{font-size: 280%;}
	#sub_mail .btn a{font-size: 16px;}
	#sub_tel .material-icons{font-size: 20px;}
	#sub_mail .btn a .material-icons{font-size: 24px;}
	/* one colmun -----------*/
	#sub_doc_mail .txt{
		margin-bottom: 15px;
		font-size: 110%;
	}
	#sub_doc_mail .txt br{display: block;}
	#sub_doc_mail .btn a{
		font-size: 115%;
		width: 100%;
	}
	#sub_doc_mail .btn a .material-icons{font-size: 22px;}
	#sub_doc_tel{
		width: 100%;
		padding: 10px 3%;
		display: block;
	}
	#sub_doc_tel p{
		display: block;
		width: 100%;
		margin-bottom: 8px;
	}
	#sub_doc_tel p.num{width: 100%;}
	#sub_doc_tel p.num a{font-size: 270%;}
	#sub_doc_tel p.num .material-icons{
		font-size: 26px;
		padding-right: 1.5%;
	}
} /*------------------------------------------*/





/* side blog */
/************************************************************************/
.side_reco{
	margin-top: 16px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #ccc;
}
.side_reco:after {
	content:"";
	display:table;
	clear:both;
}
.side_reco .img{
	float: left;
	width: 37%;
}
.side_reco .img img{
	width: 100%;
	height: auto;
}
.side_reco time{
	margin-bottom: 5px;
	font-size: 90%;
	line-height: 1;
}
.side_reco time,
.side_reco .cate{
	float: right;
	width: 60%;
}
.side_reco .cate a{font-size: 80%;}
.side_reco .title a{
	display: block;
	font-size: 100%;
	line-height: 1.7;
	font-size: 95%;
	clear: both;
	padding-top: 8px;
}
.blog_sidetitle01 a, .blog_sidetitle01 {
    display: block;
    font-size: 105%;
    overflow: hidden;
    padding: 10px 2.5%;
    text-align: center;
    width: 100%;
}

@media only screen and (max-width: 979px) {
	.side_reco{
		float: left;
		width: 48%;
		margin-right: 4%;
	}
	.side_reco:nth-last-child(odd){margin-right: 0;}
} /*------------------------------------------*/
@media only screen and (max-width: 690px) {
	.side_reco{
		float: none;
		width: 100%;
		margin-left: 0;
	}
} /*------------------------------------------*/






/* other common */
/************************************************************************/
@media only screen and (max-width: 979px) {
	.tabsp_none {display: none;}
} /*------------------------------------------*/



/* LP headder */
/************************************************************************/
body#lp .header_left{width: 25%;}
body#lp .btn_contact{
	width: 15%;
	margin-top: 5px;
}
body#lp .btn_contact li{width: 100%;}
body#lp #globalnav{
	float: right;
	width: 55%;
	margin-bottom: 0;
    margin-top: 20px;
}
body#lp #globalnav_in li{padding: 0 2%;}
body#lp #globalnav_in li a{font-size: 16px;}
@media only screen and (max-width: 979px) {
	body#lp .header_left{width: 30%;}
	body#lp #globalnav{
		float: none;
		clear: both;
		width: 100%;
		padding-top: 15px;
	}
	body#lp .btn_contact{width: 30%;}
} /*------------------------------------------*/
@media only screen and (max-width: 690px) {
	body#lp header .header {padding: 8px 3%;}
	body#lp .header_left{width: 50%;}
	body#lp #logo {width: 100%;}
	body#lp #gnav_btn a{top: 7px;}
	body#lp #globalnav{
		padding-top: 0;
		margin-top: 0;
	}
	body#lp #globalnav_in{margin-top: 10px;}
	body#lp .btn_contact{margin-top: 0;}
	body#lp .btn_contact{
		width: 55px;
		height: 41px;
		position: absolute;
		top: 5px;
		right: 55px;
	}
	body#lp .btn_contact a{line-height: 41px;}
	body#lp .btn_contact .txt{display: none;}
	body#lp .btn_contact .material-icons{
		font-size: 24px;
		padding-right: 0;
	}
} /*------------------------------------------*/


/* TOP DB */
/************************************************************************/
#top_db .ible-cell{
	float: left;
	width: 22.75%;
	margin-right: 3%;
	height: auto !important;
}
#top_db .ible-list:after {
	content:"";
	display:table;
	clear:both;
}
#top_db .ible-cell:last-child{margin-right: 0;}
#top_db .ible-cell .ible-part__basic img{
    height: auto;
    max-width: 100%;
    width: auto;
}
.ible-cell .ible-part__table{
	margin-top: 10px;
}
.ible-cell .ible-part__table td{
	border: 1px solid #ccc;
	padding: 3px 8px; 
}
#top_db .ible-cell .ible-systemlink{
	font-size: 130%;
	display: block;
	text-align: center;
}
@media only screen and (max-width: 979px) {
	#top_db .ible-cell{
		width: 48%;
		margin-right: 4%;
		margin-bottom: 25px;
	}
	#top_db .ible-cell:nth-child(2n){margin-right: 0;}
} /*------------------------------------------*/
@media only screen and (max-width: 690px) {
	#top_db .ible-list .ible-cell{
		width: 100%;
		margin-right: 0;
		margin-bottom: 15px;
		float: none;
	}
	#top_db .ible-list .ible-cell:after {
		content:"";
		display:table;
		clear:both;
	}
	#top_db .ible-cell .ible-part__image{
		float: left;
		width: 45%;
	}
	#top_db .ible-cell  .ible-part__heading{
		float: right;
		width: 50%;
	}
	#top_db .ible-cell  .ible-part__heading{
		float: right;
		width: 50%;
	}
	#top_db .ible-list .ible-cell .ible-part__paragraph{
		clear: both;
		padding-top: 8px;
	}
	#top_db .ible-cell .ible-systemlink h4{
		margin-top: 0;
		text-align: left;
	}
} /*------------------------------------------*/



/* SUB DB */
/************************************************************************/
#sub_db_main .ible-list .ible-cell:nth-child(2),
#sub_db_main .ible-list .ible-cell:nth-child(3){
	display: none;
}
.ible-list .ible-cell{height: auto !important;}
#sub_db_main .ible-list .ible-cell:after {
	content:"";
	display:table;
	clear:both;
}
#sub_db_main .ible-block--image{
	float: left;
	width: 36%;
}
#sub_db_main .ible-block--image img{
	height: auto;
    max-width: 100%;
    width: auto;
}
#sub_db_main .ible-block--head-paragraph{
	float: right;
	width: 60%;
}
#sub_db_main .ible-block--head-paragraph h3{
	font-size: 180%;
	line-height: 1.6;
}
#sub_db_main .ible-block--head-paragraph h4 small{
	font-size: 60%;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 1;
    color: #999;
    display: block;
}
#sub_db_main .ible-block--head-paragraph .ible-part__core h4{
	font-size: 160%;
	line-height: 1.6;
	margin: 15px 0;
}
#sub_db_main .ible-block--head-paragraph h5 .label{
	border-radius: 0.25em;
    color: #fff;
    display: inline-block;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    padding: 5px 8px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    background-color: #d9534f;
}

@media only screen and (max-width: 690px) {
	#sub_db_main .ible-block--image{
		float: none;
		width: 100%;
	}
	#sub_db_main .ible-block--head-paragraph{
		float: none;
		width: 100%;
	}
} /*------------------------------------------*/

#sub_db .ible-list:after {
	content:"";
	display:table;
	clear:both;
}
#sub_db{
	background-color: #efefef;
	padding: 20px; 
}
#sub_db .ible-list .ible-cell{
	float: left;
	width: 31%;
	margin-right: 3.5%;
}
#sub_db .ible-list .ible-cell:last-child{margin-right: 0;}
#sub_db .ible-block--image img{
	height: auto;
    max-width: 100%;
    width: auto;
}
#sub_db .ible-block--head-paragraph h3{
	font-size: 180%;
	line-height: 1.6;
}
#sub_db .ible-block--head-paragraph h4 small{
	font-size: 60%;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 1;
    color: #999;
    display: block;
}
#sub_db .ible-block--head-paragraph .ible-part__core h4{
	font-size: 160%;
	line-height: 1.6;
	margin: 15px 0;
}
#sub_db .ible-block--head-paragraph h5 .label{
	border-radius: 0.25em;
    color: #fff;
    display: inline-block;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    padding: 5px 8px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    background-color: #d9534f;
}
@media only screen and (max-width: 690px) {
	#sub_db .ible-list .ible-cell{
		float: none;
		width: 100%;
		margin-right: 0;
	}
} /*------------------------------------------*/