@import "_setting.scss";
@import "_title.scss";


/* common ************************************/
time{display: block;}
@media only screen and (max-width:690px) {
	time{font-size: 12px;}
}


/* article list **********************************/
article{
	margin-bottom: 16px;
	padding: 16px;
	border-width: 1px;
	border-style: solid;
	.post_thumbnail{
		float: left;
		width: 27%;
		@media only screen and (max-width:690px) {
			width: 34%;
		}
		img{
			width: auto;
			max-width: 100%;
			height: auto;
		}
	}
	&:after {@include clearfix;}
	.info{
		float: right;
		width: 70%;
		@media only screen and (max-width:690px) {
			width: 62%;
		}
		.title{
			font-size: 20px;
			font-weight: bold;
			line-height: 1.4;
			margin: 8px 0 24px;
			@media only screen and (max-width:690px) {
				margin: 6px 0 6px;
				font-size: 15px;
				line-height: 1.4;
			}
		}
		time{
			line-height: 1;
			position: relative;
			font-size: 11px;
		}
	}
}
article.relationlist{
	padding: 0;
	border: none;
}


/* SNS **********************************/
.sns_share{
	margin-top: 16px;
	&.head{
		padding-top: 15px;
		/*padding-bottom: 10px;*/
		margin-top: 0;
		/*border-width: 1px 0 1px 0;
		border-style: solid;*/
	}
	&.foot{
		padding-top: 20px;
		border-width: 1px 0 0 0;
		border-style: solid;
		margin-top: 35px;
	}
	li{
		float: left;
		list-style: none;
		margin-bottom: 5px;
		margin-right: 10px;
		width: 90px;
		line-height: 22px;
	}
	.twitter{width: 85px;}
	.fb{width: 85px;}
	.hateb{width: 120px;}
	.line{width: 85px;
		a{
			display: block;
			font-size: 11px;
			text-align: center;
		}
	}
}

@media only screen and (max-width:690px) {
	article .info .sns_share{display: none;}
}


/* main detail **********************************/
.cover{
	text-align: content;
	margin: 25px auto 40px;
	img{
		max-width: 100%;
		height: auto;
		width: auto;
		display: block;
		margin: auto;
	}
}
/*#main{
	padding: 20px;
	border-width: 1px;
	border-style: solid;
	line-height: 2;
	font-size: 15px;
	@media only screen and (max-width:690px) {
		padding: 0;
		border: none;
	}
	h1{
		font-size: 30px;
		line-height: 1.5;
		margin: 10px 0 20px;
			@media only screen and (max-width:690px) {
				font-size: 24px;
				margin-bottom: 15px;
			}
	}
	.taglist{
		margin: 5px 0 16px;
	}
	h2{
		font-size: 26px;
		line-height: 1.5;
		padding-bottom: 10px;
		margin-bottom: 20px;
		border-width: 0 0 3px 0;
		border-style: solid;
		@media only screen and (max-width:690px) {
			font-size: 24px;
		}
	}
	h3{
		font-size: 22px;
		line-height: 1.5;
		padding-left: 12px;
		margin-bottom: 16px;
		border-width: 0 0 0 5px;
		border-style: solid;
		@media only screen and (max-width:690px) {
			font-size: 20px;
		}
	}
	h4{
		font-size: 18px;
		line-height: 1.5;
		margin-bottom: 10px;
		@media only screen and (max-width:690px) {
			font-size: 17px;
		}
	}
}*/

/* main content title **********************************/
/*BMの見出しとあわせてください。*/
article#main{
	h2{
		@include title03;
		padding-left: 13px;
		border-width: 0 0 0 5px;
		border-style: solid;
	}
	h3{
		@include title04;
		padding-bottom: 8px;
		border-width: 0 0 1px 0;
		border-style: solid;
	}
	h4{
		font-size: 19px;
		margin-bottom: 10px;
		line-height: 1.4;
		font-weight: bold;
	}
	h5{
		@include title06;
	}
}


/* next prev **********************************/
#nextprev{
	margin-top: 24px;
	margin-bottom: 56px;
	li{
		list-style: none;
			a{
				font-weight: bold;
				&:hover{text-decoration: none;}
			}
	}
	.prev{float: left;}
	.next{float: right;}
}



/* contact **********************************/
/*.contact{
	margin-top: 32px;
	.title{
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		line-height: 1;
		letter-spacing: .08em;
		padding: 15px 8px;
		@media only screen and (max-width:560px) {
			font-size: 18px;
		}
	}
	.txt{
		padding: 32px 16px;
		border-width: 0 2px 2px 2px;
		border-style: solid;
		font-size: 0;
		@media only screen and (max-width:560px) {
			padding: 26px 5%;
		}
		div{
			display: inline-block;
			text-align: center;
			width: 50%;
			font-size: 20px;
			line-height: 1;
			vertical-align: middle;
			@media only screen and (max-width:560px) {
				width: 100%;
			}
			&.tel{
				font-size: 28px;
				@media only screen and (max-width:560px) {
					margin-bottom: 16px;
				}
				span{
					background-repeat: no-repeat;
					background-position: left center;
					background-size: 24px auto;
					padding-left: 35px;
				}
			}
			&.mail{
				padding: 0 3%;
				@media only screen and (max-width:560px) {
					padding: 0 10%;
				}
				a{
					display: block;
					padding: 15px;
					border-radius: 4px;
					.in{
						background-repeat: no-repeat;
						background-position: left center;
						background-size: 24px auto;
						padding-left: 40px;
					}
				}
			}
		}
	}
}
*/

/* relation **********************************/
#relation{
	margin-top: 40px;
	article{
		border-bottom: none;
		margin-bottom: 24px;
		padding-bottom: 0;
		float: left;
		width: 49%;
		margin-right: 2%;
		&:nth-of-type(2n){margin-right: 0;}
		@media only screen and (max-width: 690px) {
			float: none;
			width: 100%;
			margin-bottom: 15px;
		}
	}
	.title{
		font-size: 24px;
		margin-bottom: 24px;
		padding-bottom: 10px;
		line-height: 1;
		border-width: 0 0 3px 0;
		border-style: solid;
	}
	&:after{
		content:"";
		display:table;
		clear:both;
	}
}
.relationlist{
	.post_thumbnail{
		float: left;
		width: 35%;
		img{
			max-width: 100%;
			width: auto;
			height: auto;
		}
	}
	time,
	.txt{
		float: right;
		width: 60%;
	}
	time{
		margin-top: -5px;
		font-size: 11px;
	}
	.txt{
		font-size: 14px;
		font-weight: bold;
		margin-top: 3px;
		@media only screen and (max-width: 690px) {
			margin-top: 0;
		}
	}
}


article#main p {margin-bottom: 20px;}
article#main > div:not(.catelist):not(.taglist){margin-bottom: 40px;}
